@model WeatherApp.Models.IndexViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <h1 class="text-center m-lg-3 text-light">@Model.welcomeMessage</h1>
    <br />
    <h3 class="text-center m-lg-3 text-light">Enter a city name to check the current weather</h3>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col align-self-center">
                <form asp-controller="weather" asp-action="searchresult">
                    <div class="form-group">
                        @*<label for="cityName" class="text-center">Enter a city name to check the current weather</label>*@
                        <input type="text" asp-for="searchTerm" id="cityName" placeholder="city name" class="form-control form-control-lg text-center" />
                        <br />
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>